* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(5, 5, 70);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading div {
  position: absolute;
}

.glass {
  height: 200px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 100%;
  z-index: 3;
  backdrop-filter: blur(10px);
}

.box {
  background-color: tomato;
  height: 80px;
  width: 80px;
  border-radius: 5px;
  transform: translateX(-250px);
  animation: rotation 3s ease-in-out infinite;
}

@keyframes rotation {
  0% {
    transform: translateX(-250px) rotate(0);
    z-index: 1;
  }
  50% {
    transform: translateX(250px) rotate(180deg);
  }
  100% {
    transform: translateX(-250px) rotate(360deg);
    z-index: 6;
  }
}
